# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Linux #
*~

# LaTeX #
*.pdf
*.log
*.aux
*.dvi
*.bbl
*.blg

# Qsub/Torque #
*.sh.o*
